.App {
	text-align: center;
}

h1 {
	color: #9bafc5;
	font-size: 2.5rem;
	text-align: center;
}

.total {
	width: 80%;
	min-width: 260px;
	max-width: 960px;
	margin: auto;
}

.search {
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.search input,
.search button {
	font-size: 0.9rem;
	padding: 0.8em 1em;
	border: none;
	border-radius: 50px;
	box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.25),
		inset -2px -2px 4px 0 rgb(255, 255, 255);
	background-color: #e3ecf9;
	outline: none;
}

.search button {
	cursor: pointer;
}

.search button:hover {
	box-shadow: inset 2px 2px 4px 0 rgb(255, 255, 255),
		inset -2px -2px 4px 0 rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease;
}

.result {
	margin: 2em 0;
	padding: 1em;
	text-align: center;
}

.avatar {
	padding: 1em;
	box-shadow: inset 2px 2px 4px 0 rgb(255, 255, 255),
		inset -2px -2px 4px 0 rgba(0, 0, 0, 0.25);
	height: 12em;
	width: 12em;
	border-radius: 50%;
	margin: auto;
}

.avatar img {
	height: 12em;
	width: 12em;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: inset 2px 2px 4px 0 rgb(255, 255, 255),
		inset -2px -2px 4px 0 rgba(0, 0, 0, 0.25);
}

.user {
	font-size: 1.2rem;
	text-decoration: none;
	color: #5a646e;
	font-weight: 600;
	padding: 0.6em 1.5em 0.8em;
	border-radius: 50px;
	box-shadow: inset 2px 2px 4px 0 rgb(255, 255, 255),
		inset -2px -2px 4px 0 rgba(0, 0, 0, 0.25);
}

.result ul {
	margin: 2em 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style-type: none;
}

.result li {
	margin: 0.5em;
	font-size: 1rem;
	padding: 0.6em 1.5em 0.8em;
	border-radius: 50px;
	box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.25),
		inset -2px -2px 4px 0 rgb(255, 255, 255);
}

.result li a {
	text-decoration: none;
	color: #5a646e;
}

@media (max-width: 600px) {
	.result ul {
		grid-template-columns: 1fr;
	}
}
