.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.total {
  text-align: center;
  border: solid rgb(39, 124, 117) 3px;
  border-radius: 10px;
  width: 50%;
  background-color: rgba(19, 44, 19, 0.171);
  color: white;
  margin-bottom: 35px;
}
.total:hover {
  border: solid rgb(35, 134, 126) 5px;
}
li {
  list-style: none;
}
a {
  color: white;
  border: solid white 3px;
  /* display: inline-block; */
  margin: 10px;
  background: rgba(0, 100, 0, 0.404);
  border: solid rgb(35, 134, 126) 3px;
  border-radius: 10px;
  float: left;
  height: 60px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 15px;
  /* overflow: hidden; */
}
a:hover {
  border: solid rgb(44, 170, 160) 5px;
}
.search input[type="text"],
.search button {
  /* background: rgba(255, 255, 255, 0.815); */
  border: solid rgb(35, 134, 126) 3px;
  border-radius: 10px;
  height: 35px;
  width: 200px;
  text-align: center;
  outline: none;
}
.search input[type="text"]:hover,
.search button:hover {
  border: solid rgb(46, 184, 172) 5px;
}
.search button {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  color: rgb(143, 235, 208);
  text-decoration: underline;
}
